/* 
    global style list:
        --bcg_color_child -- color for child elements
        --bcg_color_parent -- color for parent elements
        --border_color: color for borders
        --shadow_color: color for shadows
        --margin_base: base margin for dividing the body element
*/

.title{
    text-align: center;
    margin-top: 30px;
}

.title h1{
    margin-bottom: 20px;
}

.itemsContainer{
    margin-top:30px;
    border:2px solid red;
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
}

.singleItem{
    text-align: center;
    border:2px solid yellow;
    margin: 0 5rem;
}

/* .singleItem p {
    text-overflow: ellipsis;
} */