.homeContainer{
    margin: var(--margin_base);
}

.title{
    text-align: center;
    margin-top: 30px;
    background-color : var(--bcg_color_child);
    border-radius: 5px;
    padding: 10px;
}

.title h1{
    margin-bottom: 20px;
}

.itemsContainer{
    background-color: var(--bcg_color_child);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin-top:30px;
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr 1fr 1fr;

}

.singleItem{
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 32px;
    overflow:hidden;
    white-space: nowrap;
    transition: all 0.1s linear ;
}

.singleItem:hover{
    transform: scaleZ(1.5);
    box-shadow: 0px 0px 3px 3px whitesmoke;
}


.singleItem p{
    overflow:hidden;
    text-overflow: ellipsis;
}

.singleItem img{
    width: 200px;
    max-width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;


    border-radius: 5px;
    margin:10px;
}