.homeContainer{
    margin: var(--margin_base);
}

.title{
    text-align: center;
    margin-top: 30px;
}

.title h1{
    margin-bottom: 20px;
}

.itemsContainer{
    background-color: var(--bcg_color_child);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin-top:30px;
    display: grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr;
}

.singleItem{
    border: 1px solid white;
    text-align: center;
    margin: 0 5rem;
    overflow:hidden;
    white-space: nowrap;
}


.singleItem p{
    overflow:hidden;
    text-overflow: ellipsis;
}