/* 
    global style list:
        --bcg_color_child -- color for child elements
        --bcg_color_parent -- color for parent elements
        --border_color: color for borders
        --shadow_color: color for shadows
        --margin_base: base margin for dividing the body element
*/


.list{
    background-color: var(--bcg_color_child);
    border:2px solid var(--border_color);
    box-shadow: 1px 1px 3px var(--shadow_color);
    border-radius: 5px;
    margin: var(--margin_base);
    padding: 20px;
}

.list ul{
    text-align: center;
}

.list li{
    display:inline-block;
    margin-left:50px;
}

.link img{
    width: 31px;
    height: 31px;

    transform: scale(0.833);
    box-shadow: 1px 1px 5px whitesmoke;
    border-radius: 7px;
    margin: 0 auto;
    transition: transform 0.5s ease;
}


.link img:hover{
    transform: scale(1);
}