*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list{
    background-color: rgb(57, 57, 136);
    border-radius: 5px;
    margin: 0 150px;
    padding: 20px;
}


.list li{
    display:inline-block;
    margin-left:30px;
}


.link{
    color:whitesmoke;
    
}