*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root{
    --bcg_color_parent: #0B0f17;
    --bcg_color_child: #192134;
    --border_color: #232F42;
    --shadow_color: #94A3B8;
    --primary_font: #F8FAFC;
    --margin_base: 0 150px;
}

body{
    background-color: var(--bcg_color_parent);
    color: var(--primary_font);
}

img{
    max-width: 150px;
}